/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v29-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v29-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v29-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v29-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v29-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v29-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v29-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v29-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v29-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-v29-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v29-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v29-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v29-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v29-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v29-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* permanent-marker-regular - latin */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/permanent-marker-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/permanent-marker-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/permanent-marker-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/permanent-marker-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/permanent-marker-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/permanent-marker-v10-latin-regular.svg#PermanentMarker') format('svg'); /* Legacy iOS */
}

/* ibm-plex-sans-regular - latin */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ibm-plex-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/ibm-plex-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ibm-plex-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ibm-plex-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ibm-plex-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ibm-plex-sans-v9-latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-700 - latin */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ibm-plex-sans-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/ibm-plex-sans-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ibm-plex-sans-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ibm-plex-sans-v9-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ibm-plex-sans-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ibm-plex-sans-v9-latin-700.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* caveat-regular - latin */
@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/caveat-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/caveat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/caveat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/caveat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/caveat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/caveat-v10-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
}

/* quicksand-300 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/quicksand-v24-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/quicksand-v24-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v24-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v24-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v24-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v24-latin-300.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-500 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/quicksand-v24-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/quicksand-v24-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v24-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v24-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v24-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v24-latin-500.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v24-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/quicksand-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v24-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v24-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/quicksand-v24-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v24-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v24-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v24-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v24-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* Fontello */

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?77985215');
    src: url('../fonts/fontello.eot?77985215#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?77985215') format('woff2'),
    url('../fonts/fontello.woff?77985215') format('woff'),
    url('../fonts/fontello.ttf?77985215') format('truetype'),
    url('../fonts/fontello.svg?77985215#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77985215#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin: 0 !important;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-fas-video-slash-solid:before { content: '\e800'; } /* 'î €' */
